.whyctf {
    padding-top: 80px;
    padding-bottom: 0px;
    color: #89D6F3;
  
    text-align: center;
  }
  
  .topbox {
    font-family:  "Roboto", sans-serif;
    background-color: #1D6B87;
    text-align: center;
    padding-bottom: 80px;
    color : #FFFFFF;
  }